-import fink.support.TemplateHelper._

h1 Posts

-for (post <- postRepository.findAll)
	h2
		a(href={uri("/posts/" + post.title.toLowerCase.replaceAll(" ", "-"))}) #{post.title}
	
	p Date: #{formatDate(post.date)}
	p Tags: #{post.tags.map(_.name).mkString(", ")}
	p Category: #{post.category.map(_.name).getOrElse("")}
	p Author: #{post.author}
