- import org.joda.time.DateTime

-@ val posts: List[fink.data.Post]

h1 Posts

- for (post <- posts)
	h2
		a(href={uri("/posts/" + post.title.toLowerCase.replaceAll(" ", "-"))}) #{post.title}
	
	p Date: #{new DateTime(post.date)}
	p Tags: #{post.tags.map(_.name).mkString(", ")}
	p Category: #{post.category.map(_.name).getOrElse("")}
	p Author: #{post.author}
